#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@font-face {
  font-family: "Munchkin";
  src: url("./assets/munchkin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Munchkin", sans-serif;
}

.card:hover {
  transform: rotateX(10deg) translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.55);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
  background-color: #e7c08d;
  color: black;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-origin: bottom center; /* Makes it tilt upward */
}

.read-the-docs {
  color: #888;
}
